body { 
	font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 13px;
    background-color:#ECF0F1;
}
.navbar {
    padding: 15px;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    box-sizing: border-box;
    position: relative;
}
.navbar-in-header{
    background : none;
}
.nav-main li {
    display:inline;
}
.nav-main li.pull-right {
    margin-right:15px;
}
.headerbar{
    height:175px;
}
.site-title{
	color:#ffffff;
	text-shadow:0 1px 1px rgba(0,0,0,0.5);
    width:500px;
    text-align:center;
    margin:50px auto 100px;
    z-index:2;
}
.inner-wrap {
    background: #FFFFFF;
    overflow: hidden;
    position: relative;
    margin-top: -50px !important;
    z-index: 3;
    padding: 30px;
    box-sizing: border-box;
    box-shadow: 0 0 5px rgba(0,0,0,0.05);
    width: 95%;
    margin: 0 auto;
    min-height:960px;
}
.breadcrumb {
    background-color: #ffffff;
    margin-bottom:30px;
    color: #676767;
	font-weight: 600;
}
.breadcrumb a {
	color: #676767;
	font-weight: 600;
	text-transform:capitalize;
}
h2.forum-title{
    font-weight: 300;
    font-size: 2em;
    margin-bottom : 30px;
}
.button-new {
    margin-right: 15px;
    float: left;
    background-color:#4a569d;
    color : #FFFFFF;
    display: inline-block;
    padding: 8px 15px;
    line-height: 1.4;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
}
.button-new:hover{
	color:#ffffff;
	background-color:#D82527;
	text-decoration:none;
}
.button-new:active{
	color:#ffffff;
	background-color:#D82527;
	text-decoration:none;
}
.page-header {
    position:relative;
    margin : 0px 0px 0px 0px;
    background-color : #4a569d;
    background: -moz-linear-gradient(left, #4a569d 1%, #dc2424 100%);
    background: -webkit-linear-gradient(left, #4a569d 1%,#dc2424 100%);
    background: linear-gradient(to right, #4a569d 1%,#dc2424 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4a569d', endColorstr='#dc2424',GradientType=1 );
}
.header-overlay {
	
}
input.base-form{
    background-color: #ECF0F1;
    border-color: #edecec;
    color: #333333;
    border-radius : 0px;
    background-image: none;
    border-right-width: 0;
    float: left;
    padding: 7px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 0;
    border-radius: 0;
    width: 150px;
}
.base-form:hover {
    border-color:#4a569d;
}
button.base-form {
    background-color: #ECF0F1;
    border-color: #edecec;
    color: #333333;     
    border-radius: 0;
}
button.base-form:hover {
    background-color: #ECF0F1;
    color: #333333;  
}
.forum-panel{
    border:none;
    margin-bottom:45px;
}
.forum-panel > .panel-heading {
    border:none;
    background-color : #4a569d;
    color:#FFFFFF;
    background: -moz-linear-gradient(left, #4a569d 1%, #dc2424 100%);
    background: -webkit-linear-gradient(left, #4a569d 1%,#dc2424 100%);
    background: linear-gradient(to right, #4a569d 1%,#dc2424 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4a569d', endColorstr='#dc2424',GradientType=1 );
}
.forum-panel > .panel-heading > a {
	color: #ffffff !important;
	text-transform: capitalize;
	font-size: 1.2em;
}
.forum-panel > .panel-body {
    background-color:#ECF0F1;
}
.forum-panel > .panel-body > .media {
    background-color:#FFFFFF;       
}
span.info {
    position:absolute;
    top:25px;
}
.media.forum{
    margin:0px 10px 7px 10px;
    padding:10px 0px;
    background-color:#ffffff;
    box-shadow:	0 0 6px rgba(0,0,0,.1);
}
.media.forum p {
	margin-bottom:0px;
}
.media.forum a{
    color:#676767;
    font-weight:600;
}
.media.forum .media-heading{
	font-size:1.2em;
	text-transform: capitalize;
}
.media-heading > a:hover {
	text-decoration: none;
}
.commentImage {
	border-radius:25px;
	width:50px;
	height:50px;
}
.footer {
	height: 130px;
	margin-top: -50px;
    background-color : #4a569d;
    background: -moz-linear-gradient(left, #4a569d 1%, #dc2424 100%);
    background: -webkit-linear-gradient(left, #4a569d 1%,#dc2424 100%);
    background: linear-gradient(to right, #4a569d 1%,#dc2424 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4a569d', endColorstr='#dc2424',GradientType=1 );
}
.action-bar {
	margin-bottom:25px;
}
.red {
	color:#c00b0b !important;
}
.fa {
	color:#676767;
}
.fa.fa-minus.pull-right{
	color:#ffffff;
	padding-right:5px;
	padding-top: 5px;
}
.fa.fa-plus.pull-right{
	color:#ffffff;
    padding-right:5px;
    padding-top: 5px;
}
.fa.fa-minus.pull-right:hover{
	cursor:pointer;
}
.fa.fa-plus.pull-right:hover{
	cursor:pointer;
}
.sidecolumn {
   background-color: #ffffff;
   margin: 11px 0px;
   padding: 5px 10px;
   box-shadow:	0 0 6px rgba(0,0,0,.1);
}
.sidecolumn p {
	margin-bottom:0px;
}
.sidecolumn a{
    color:#676767;
    font-weight:600;
}
.sideform {
	margin-bottom: 15px;
	padding: 15px 0px 15px;
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
}
.siteform .form-control {
	background-color: #ECF0F1;
	border-radius: 0px;
}
.siteform .form-control:hover {
	border-color:#4A569D;
}
.siteform .form-control:active {
	border-color:#4A569D;
}

.siteform .button {
    width: 100%;
    border-radius: 0px;
    background-color: #4A569D;
    box-shadow: none;
    height: 39px;
    color: #ffffff;
    border: none;
}
.siteform .button.small {
	width: 18%;
	height: 34px;
}
.siteform .button:hover {
	background-color: #D82527;	
}
.user-info {
	
}
.user-info img { 
	width:125px;
	height:125px;
	border-radius:64px;
}
.user-info p {
	text-align:center;
}
.pagination-link {
	margin: 3px;
	padding: 5px;
	border: 1px solid #4A569D;
	display: inline-table;
	background-color: #ECF0F1;
	color: #4A569D;
}
.pagination-link:hover {
	color: #D82527;		
	border-color: #D82527;	
}
.quick-reply-link {
	color: #4A569D;
	font-weight :600;	
	cursor:pointer;
}
.form-title {
	text-align: center;
	color: #ffffff;
	background-color: #4A569D;
	padding: 15px;
	margin-bottom: 25px;
	background: -moz-linear-gradient(left, #4a569d 1%, #dc2424 100%);
	background: -webkit-linear-gradient(left, #4a569d 1%,#dc2424 100%);
	background: linear-gradient(to right, #4a569d 1%,#dc2424 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4a569d', endColorstr='#dc2424',GradientType=1 );	
}
.user-profile {
	
}
.user-profile img {
	height:275px;
	width:275px;
	border-left: 3px solid #4A569D;
}

.user-profile .media-body {
	padding-left:25px;
}
.user-profile .media-heading {
	color :#4A569D;
	margin-bottom:15px;
}
.color-line {
	height:10px;
	width:100%;
	background-color: #4A569D;
	margin-bottom: 25px;
	background: -moz-linear-gradient(left, #4a569d 1%, #dc2424 100%);
	background: -webkit-linear-gradient(left, #4a569d 1%,#dc2424 100%);
	background: linear-gradient(to right, #4a569d 1%,#dc2424 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4a569d', endColorstr='#dc2424',GradientType=1 );	
}
.link{
    color: #ffffff !important;
    text-shadow:0 1px 1px rgba(0,0,0,0.5);
	text-transform: capitalize;
	font-size: 1.2em;
}
.icon-locale{
	width:30px;
	height:30px;
	margin-left:15px;	
}
.error{
	text-align: center;
}
#error-type{
	font-size:196px;
	font-weight:700;
	color:#4a569d;
}

@media screen and (max-width: 360px){
	.siteform .button.small {
		font-size:14px;
	}
	.icon-locale{
		margin-left:2px;
	}
	.site-title{
		width:75% !important;
	}
	.siteform .button.small {
		width:100%;
		margin-bottom:10px;
	}
	.user-info img{
		width:50px;
		height:50px;
	}
	.button-new {
		width:100%;
	}
	.siteform {
		float:none !important;
	}	
}